<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>クラ弦 練習管理システム | {% block title %} {% endblock %} </title>
    {% block stylesheet %} {% endblock %}
  </head>
  <body>
    <div class="container">
      <header>
        <h1>クラ弦 練習管理システム</h1>
        <ul>
            <li class="header-option">ログイン</li>
            <li class="header-option show">ログアウト</li>
        </ul>
      </header>
      <main>
        {% block main %} {% endblock %}
      </main>
      <footer>
        <p>バグや改善点を報告する</p>
      </footer>
    </div>
  </body>
</html>