{% extends "base.html" %}

{% block title %} 演奏会情報 {% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
{% endblock %}

{% block main %}
<h2>演奏会情報</h2>

{% for concert in concerts %}
<table class="table1">
    <tr>
        <td colspan="8">
            {{concert.date_end.year}}年{{concert.season}}<br>
            練習期間: {{concert.date_start}}～{{concert.date_end}}
        </td>
    </tr>
    <tr>
        <th>曲名</th>
        <th>作曲者</th>
        <th>指揮者</th>
        <th>コンサートマスター</th>
        <th>2nd Vn パートリーダー</th>
        <th>Va パートリーダー</th>
        <th>Vc パートリーダー</th>
        <th>Cb パートリーダー</th>
    </tr>
    {% for song in songs[concert.id] %}
    <tr>
        <td>{{ song.song_name }}</td>
        <td>{{ song.author }}</td>
        <td>{{ leaders[song.id]['Cond'] }}</td>
        <td>{{ leaders[song.id]['1st_Vn'] }}</td>
        <td>{{ leaders[song.id]['2nd_Vn'] }}</td>
        <td>{{ leaders[song.id]['Va'] }}</td>
        <td>{{ leaders[song.id]['Vc'] }}</td>
        <td>{{ leaders[song.id]['Cb'] }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="8">
            曲を追加する<br>
            <form action="" method="post">
                {% csrf_token %}
                {{ add_song_form.song_name }}
                {{ add_song_form.author }}
                <input type="hidden" name="concert" value="{{ concert.id }}">
                <input type="submit" name="add_song" value="追加">
            </form>
        </td>
    </tr>
</table>
{% endfor %}
<br>

演奏会を追加する<br>
<form action="" method="post">
    {{ add_concert_form }}
    <input type="submit" name="add_concert" value="追加">
</form>

{% endblock %}
